<!DOCTYPE html>
<html xmlns:th=”https://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Password recovery - Step 1</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <br>
            <span class="text-center">
                <h2> Password recovery </h2>
            </span>

            <form th:action="@{/recoverypasswordstep2}" th:method="get">
                <div class="form-group">
                    <label class="form-check-label" > Enter your email address: </label>
                    <input type="text" name="email" class="form-control" placeholder="Enter email address" >
                </div>
                <p class="text-danger" th:text="${error}"></p>
                <button class="btn btn-primary" type="submit" > Recover password </button>
            </form>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>